<div>
  <dx-toolbar
    [items]="toolbarContent">
  </dx-toolbar>

  <dx-drawer 
    [openedStateMode]="'overlap'"
    position="left"
    revealMode="slide"
    template="template"
    [(opened)]="isDrawerOpen"
    [closeOnOutsideClick]="true"
    class="full-height">
    <div class="drawer-width" *dxTemplate="let data of 'template'">
        <dx-list class="panel-list dx-theme-accent-as-background-color"
            [dataSource]="navigation"
            [hoverStateEnabled]="false"
            [activeStateEnabled]="false"
            [focusStateEnabled]="false"
            (onItemClick)="itemClick($event)">
        </dx-list>
    </div>
    <div #content>
        <app-home></app-home>
    </div>
  </dx-drawer>
</div>

<router-outlet></router-outlet>